@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  * {
    scroll-behavior: smooth;
  }

  body {
	  @apply text-base font-montserrat text-textColor overflow-x-hidden;
    font-family: 'Montserrat', sans-serif;
  }

  p {
    @apply tracking-wide
  }

  .u-container {
    @apply container mx-auto py-16 xl:py-20;
    width: 90%;
    max-width: 1440px;
  }
  
  .oculto {
    @apply opacity-0 pointer-events-none;
  }

  .visible {
    @apply opacity-100 pointer-events-auto;
  }

  .testimony_card--active {
    @apply bg-white border-main-red shadow-xl;
  }

  .testimony_card--active--mobile {
    @apply bg-white border-main-red shadow-xl;
    opacity: 1 !important;
  }

  .shadow-red {
    box-shadow: 0 16px 24px rgb(222 26 22 / 25%);
  }

  input {
    @apply focus:outline-none focus:border-blue-400 transition-colors;
  }

  .triangle {
    clip-path: polygon(50% 70%, 0 0, 100% 0);
  }
}